body{
  font-family: BioRhyme, Sans;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -.003em;
  box-sizing: border-box;
}

h1{
  font-family: SpaceMono;
  font-weight: 700;
  font-size: 2.2rem;
}

h2{
  font-family: SpaceMono;
  font-weight: 700;
  font-size: 2rem;
}

h3, h4, h5{
  font-family: SpaceMono;
  font-weight: 400;
}

.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.hidden{
  display: none;
}

.visible-b{
  display: block;
}

.visibne-f{
  display: flex;
}


@media ($breakpoint-md) {
  h1{
    font-size: 4vw;
  }
  h2{
    font-size: 2.8vw;
  }
}

@media ($breakpoint-lg) {
  .container {
    max-width: 1140px;
  }
}