// palette
$color-primary: rgba(39, 39, 39, 1);
$color-secondary: rgba(112, 5, 72, 1);
$color-background: rgba(218, 227, 243, .5);

//breakpoints
$breakpoint-md: 'min-width: 576px';
$breakpoint-lg: 'min-width: 1200px';